@model CRUD_Operations_with_DB_Context.Models.Product
@{
    ViewBag.Title = "Insert";
}

<div style="height:30px">

</div>
<div style="height:320px; text-align:center;" class="d-flex">
    @using (Html.BeginForm("insert", "product", FormMethod.Post, htmlAttributes: new { @class = "form-row d-flex" }))
    {
        <label class="d-md-inline col-md-2">Product Name</label>
        @Html.TextBoxFor(p => p.ProductName, htmlAttributes: new { @class = "d-md-inline col-md-6" })
        @Html.ValidationMessageFor(p => p.ProductName, "", htmlAttributes: new { style = "color:red;" })
        <br />
        <br />
        <label class="d-md-inline col-md-2">Product Price</label>
        @Html.TextBox("Price",0, htmlAttributes: new { @class = "d-md-inline col-md-6", min = "1", max = "1000000"})
        @*@Html.TextBoxFor(p => p.Price,"1", htmlAttributes: new { @class = "d-md-inline col-md-6" ,min="1",max="1000000",value="0" })*@
        @Html.ValidationMessageFor(p => p.Price, "", htmlAttributes: new { style = "color:red;" })
        <br />
        <br />
        <label class="d-md-inline col-md-2">Units in Stock</label>
        @Html.TextBox("Units",0, htmlAttributes: new { @class = "d-md-inline col-md-6" ,min="0",max="10000"})        
        @Html.ValidationMessageFor(p => p.Units, "", htmlAttributes: new { style = "color:red;" })
        <br />
        <br />
        <label class="d-md-inline col-md-2">Supplier Name</label>
        @Html.DropDownList("SupplierID", ViewBag.SupplierID as SelectList, htmlAttributes: new { @class = "d-md-inline col-md-6", style = "height:48px" })
        @Html.ValidationMessageFor(p => p.SupplierID, "", htmlAttributes: new { style = "color:red;" })
        <br />
        <br />
        <input type="submit" value="Add" class="btn btn-success" />
    }
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    }

